---
import Plantilla from '../plantillas/Plantilla.astro';
---

<Plantilla titulo="Revelar Poema">
  <!--El primer día de sol descubre mi piel
     Luz irracional
     Repite los días como un mantra
     El amor es puro si permanece salvaje 
     Como el primer día de sol
     Cuando veo tu cuerpo
     Mi primer instinto es tocarlo
     Sin importar lo demás luz
     Irracional el primer instinto-->

  <div id="contenedor">
    <h1 id="titulo">
      <span>.</span><span>.</span><span>:</span><span>:</span>
      <span class="r">_</span><span class="e">_</span><span class="v">_</span><span class="e">_</span><span class="l"
        >_</span
      ><span class="a">_</span><span class="r">_</span>
      <span>:</span><span>:</span><span>.</span><span>.</span>
    </h1>

    <p>
      <span class="e">°</span><span class="l">°</span>
      <span class="p">°</span><span class="r">°</span><span class="i">°</span><span class="m">°</span><span class="e"
        >°</span
      ><span class="r">°</span>
      <span class="d">°</span>í<span class="a">°</span>
      <span class="d">°</span><span class="e">°</span>
      <span class="s">°</span><span class="o">°</span><span class="l">°</span>
      <span class="d">°</span><span class="e">°</span><span class="s">°</span><span class="c">°</span><span class="u"
        >-</span
      ><span class="b">°</span><span class="r">°</span><span class="e">°</span>
      <span class="m">°</span><span class="i">°</span>
      <span class="p">°</span><span class="i">°</span><span class="e">°</span><span class="l">°</span>
    </p>

    <p>
      <span class="l">°</span><span class="u">°</span><span class="z medio">°</span>
      <span class="i medio">°</span><span class="r medio">°</span><span class="r medio">°</span><span class="a medio"
        >°</span
      ><span class="c medio">°</span><span class="i medio">°</span><span class="o medio">°</span><span class="n">°</span
      ><span class="a">°</span><span class="l">°</span>
    </p>

    <p>
      <span class="r">°</span><span class="e">°</span><span class="p">°</span><span class="i">°</span><span class="t"
        >-</span
      ><span class="e">°</span>
      <span class="l">°</span><span class="o medio">°</span><span class="s medio">°</span>
      <span class="d medio">°</span><span class="medio">í</span><span class="a medio">°</span><span class="s medio"
        >°</span
      >
      <span class="c medio">°</span><span class="o medio">°°</span><span class="m medio">°</span><span class="o">°</span
      >
      <span class="u">°</span><span class="n">°</span>
      <span class="m medio">°</span><span class="a">°</span><span class="n">-</span><span class="t">°</span><span
        class="r">°</span
      ><span class="a">°</span>
    </p>

    <p>
      <span class="e">°</span><span class="l">°</span>
      <span class="a">°</span><span class="m">°</span><span class="o">°</span><span class="r">°</span>
      <span class="e">°</span><span class="s medio">°</span>
      <span class="p medio">°</span><span class="u medio">°</span><span class="r medio">°</span><span class="o medio"
        >°</span
      >
      <span class="s centro">°</span><span class="i centro">°</span>
      <span class="p centro">°</span><span class="e centro">°</span><span class="r medio">°</span><span class="m medio"
        >°</span
      ><span class="a medio">°</span><span class="n medio">°</span><span class="e medio">°</span><span class="c">°</span
      ><span class="e">°</span>
      <span class="s">°</span><span class="a">°</span><span class="l">°</span><span class="v">°</span><span class="a"
        >°</span
      ><span class="j">°</span><span class="e">°</span>
    </p>
    <p>
      <span class="c">°</span><span class="o">°</span><span class="m">°</span><span class="o medio">-</span>
      <span class="e medio">°</span><span class="l medio">°</span>
      <span class="p centro">°</span><span class="r centro">°</span><span class="i centro">°</span><span
        class="m centro">°</span
      ><span class="e centro">°</span><span class="r centro">°</span>
      <span class="d centro">°</span><span class="centro">í</span><span class="a medio">°</span>
      <span class="d medio">-</span><span class="e">°</span>
      <span class="s">°</span><span class="o">°</span><span class="l">°</span>
    </p>
    <p>
      <span class="c">°</span><span class="u">°</span><span class="a">°</span><span class="n medio">°</span><span
        class="d medio">°</span
      ><span class="o medio">°</span>
      <span class="v centro">°</span><span class="e centro">°</span><span class="o centro">°</span>
      <span class="t centro">-</span><span class="u centro">°</span>
      <span class="c medio">°</span><span class="u medio">°</span><span class="e medio">´</span><span class="r">°</span
      ><span class="p">°</span><span class="o">°</span>
    </p>
    <p>
      <span class="m">°</span><span class="i">°</span>
      <span class="p">°</span><span class="r">°</span><span class="i">°</span><span class="m">°</span><span
        class="e medio">°</span
      ><span class="r medio">°</span>
      <span class="i medio">°</span><span class="n medio">°</span><span class="s medio">°</span><span class="t centro"
        >°</span
      ><span class="i centro">°</span><span class="n centro">°</span><span class="t medio">°</span><span class="o medio"
        >°</span
      >
      <span class="e medio">°</span><span class="s medio">°</span>
      <span class="t medio">°</span><span class="o">°</span><span class="c">°</span><span class="a">°</span><span
        class="r">°</span
      ><span class="l">°</span><span class="o">°</span>
    </p>
    <p>
      <span class="s">°</span><span class="i">°</span><span class="n">°</span>
      <span class="i">°</span><span class="m">°</span><span class="p">°</span><span class="o">°</span><span class="r"
        >°</span
      ><span class="t medio">°</span><span class="a medio">°</span><span class="r medio">°</span>
      <span class="l medio">°</span><span class="o medio">°</span>
      <span class="d medio">°</span><span class="e medio">°</span><span class="m">°</span>á<span class="s">°</span>
      <span class="l">°</span><span class="u">.</span><span class="z">°</span>
    </p>
    <p>
      <span class="i">°</span><span class="r">°</span><span class="r">°</span><span class="a">°</span><span class="c"
        >°</span
      ><span class="i">°</span><span class="o">°</span><span class="n">-</span><span class="a">°</span><span class="l"
        >°</span
      >
      <span class="e">°</span><span class="l">°</span>
      <span class="p">°</span><span class="r">°</span><span class="i">°</span><span class="m">°</span><span class="e"
        >°</span
      ><span class="r">°</span>
      <span class="i">°</span><span class="n">°</span><span class="s">°</span><span class="t">°</span><span class="i"
        >°</span
      ><span class="n">°</span><span class="t">°</span><span class="o">°</span>
    </p>

    <p id="autora">Tilsa Otta</p>
  </div>
</Plantilla>

<script>
  console.log('..:: EnFlujo ::..');

  const as = document.getElementsByClassName('a');
  const es = document.getElementsByClassName('e');
  const is = document.getElementsByClassName('i');
  const os = document.getElementsByClassName('o');
  const us = document.getElementsByClassName('u');

  const bs = document.getElementsByClassName('b');
  const cs = document.getElementsByClassName('c');
  const ds = document.getElementsByClassName('d');
  const js = document.getElementsByClassName('j');
  const ls = document.getElementsByClassName('l');
  const ms = document.getElementsByClassName('m');
  const ns = document.getElementsByClassName('n');
  const ps = document.getElementsByClassName('p');
  const rs = document.getElementsByClassName('r');
  const ss = document.getElementsByClassName('s');
  const ts = document.getElementsByClassName('t');
  const vs = document.getElementsByClassName('v');
  const zs = document.getElementsByClassName('z');

  function cambiarVocal(lista, letra) {
    for (let i = 0; i < lista.length; i++) {
      lista[i].addEventListener('mouseover', function () {
        lista[i].classList.add('cambiada');
        lista[i].innerText = `${letra}`;
      });
    }
  }

  function cambiarConsonante(lista, letra) {
    for (let i = 0; i < lista.length; i++) {
      lista[i].addEventListener('mouseover', function () {
        lista[i].classList.add('consonante-cambiada');
        lista[i].innerText = `${letra}`;
      });
    }
  }

  // Vocales
  cambiarVocal(as, 'a');
  cambiarVocal(es, 'e');
  cambiarVocal(is, 'i');
  cambiarVocal(os, 'o');
  cambiarVocal(us, 'u');

  // Consonantes
  cambiarConsonante(bs, 'b');
  cambiarConsonante(cs, 'c');
  cambiarConsonante(ds, 'd');
  cambiarConsonante(js, 'j');
  cambiarConsonante(ls, 'l');
  cambiarConsonante(ms, 'm');
  cambiarConsonante(ns, 'n');
  cambiarConsonante(ps, 'p');
  cambiarConsonante(rs, 'r');
  cambiarConsonante(ss, 's');
  cambiarConsonante(ts, 't');
  cambiarConsonante(vs, 'v');
  cambiarConsonante(zs, 'z');
</script>

<style lang="scss">
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: #130808;
    color: rgb(241, 211, 74);
  }

  ::selection {
    background-color: #30cac073;
    color: #130808;
  }

  #contenedor {
    margin: 0;
    text-align: center;
    letter-spacing: 0.5rem;
    cursor: pointer;
  }

  #titulo {
    margin: 3em;
    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }

  .centro {
    color: rgb(111, 0, 255);
  }

  .medio {
    color: rgb(223, 135, 201);
  }

  .cambiada {
    background-color: transparent;
    // color: rgb(223, 135, 201);
    font-size: 1.3em;
  }

  .consonante-cambiada {
    background-color: transparent;
    color: rgb(111, 0, 255);
  }

  #autora {
    text-transform: uppercase;
    font-size: 0.8em;
    margin-top: 7em;
  }
</style>
